@using BoundlessBooks.Helpers
@{
    var username = Context.Session.GetString("Username");
}
@{
    var cartItems = Context.Session.GetObjectFromJson<List<Book>>("CartItems") ?? new List<Book>();
}

<div class="container">
    <div class="py-2 text-center">
        <div class="text-center">
            <!-- redirects to the home page -->
            <a href="@Url.Action("Index", "Home")">
                <img src="~/assets/images/general/appLogo.png" alt="Logo" style="max-width: 300px;">
            </a>
            <h1>CHECKOUT</h1>
        </div>
    </div>

    <div class="row">
        <!-- Displays all the items in the cart with the total -->
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge bg-secondary badge-pill">@cartItems.Count()</span>
            </h4>
            <ul class="list-group mb-3">
                @foreach (var item in cartItems)
                {
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">@item.Title</h6>
                        </div>
                        <span class="text-muted">Rs.@Math.Round(item.Price, 2)</span>
                    </li>
                }
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total Number of Items</span>
                    <strong>@cartItems.Count()</strong>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total Amount</span>
                    <strong>Rs.@Math.Round(cartItems.Sum(item => item.Price), 2)</strong>
                </li>
            </ul>
        </div>
        <div class="col-md-8 order-md-1">
            @if (!string.IsNullOrEmpty(username))
            {
                <div class="mb-3">
                    <h6>Your details are as follows:</h6>
                    <div class="text-lead" id="userFullName"></div>
                    <div class="text-lead" id="userEmail"></div>
                    <div class="text-lead" id="userPhoneNumber"></div>
                </div>
            }

            <h4 class="mb-3">Shipping address</h4>
            <form class="needs-validation" id="checkoutForm">

                <div class="mb-3">
                    <label for="address">Address</label>
                    <!-- Address input in the form -->
                    <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St"
                        required>

                    <div class="invalid-feedback">
                        Please enter your shipping address.
                    </div>
                </div>
                <hr class="mb-4">

                <h4 class="mb-3">Payment</h4>
                <h6>Only CASH ON DELIVERY available for now (COD)</h6>
                <hr class="mb-4">

                @if (string.IsNullOrEmpty(username))
                {
                    <div class="alert alert-warning" role="alert">
                        You need to have an account to complete the purchase. <a href="/Login/Index">Login here</a>.
                    </div>
                    @if (cartItems.Count == 0)
                    {
                        <div class="alert alert-warning mt-3" role="alert">
                            Please add items to your cart to proceed.
                        </div>
                    }
                    <button class="btn btn-primary btn-lg btn-block" type="button" disabled>Complete Purchase</button>
                }
                else
                {
                    @if (cartItems.Count == 0)
                    {
                        <div class="alert alert-warning" role="alert">
                            Please add items to your cart to proceed.
                        </div>
                        <button class="btn btn-primary btn-lg btn-block" type="button" disabled>Complete Purchase</button>
                    }
                    else
                    {
                        <button class="btn btn-primary btn-lg btn-block" type="submit" onclick="completePurchase()">Complete
                            Purchase</button>
                    }
                }
            </form>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/assets/js/checkout.js"></script>
}
